// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

@import "variables";
@import "login";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~toastr/toastr";

html > * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
}

html {
  font-size: 80% !important;
}

@mixin gradient-text {
    background-color: #08aeea;
    background-image: linear-gradient(45deg, #08aeea 0%, #2af598 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 600;
}
.wave {
    @include gradient-text();
    text-transform: uppercase;
}
.dashbord-header {
    font-weight: 600;
    color: #0dc471;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    height: 80px;
    background-color: rgb(253, 253, 253);
    .dashbord {
        a {
            font-size: 3rem;
            color: #0dc471;
            &:hover,&:focus,&:active {
                text-decoration: none;
            }
        }
        
    }
    .panel {
        display: flex;
        align-items: center;
        .logo_utilisateur {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 0.9rem;
            overflow: hidden;
            border: 2px solid $color-secondary;
            img {
                width: 100%;
            }
        }
        .nom {
            font-size: 2rem;
            margin-right: 2rem;
        }
        .deconnexion {
            border-radius: 100px;
            background-color: #08aeea;
            color: white;
            background-image: linear-gradient(45deg, #08aeea 0%, #2af598 100%);
            a {
                color: white;
            }
        }
    }
}
.side-bar {
    background-color: #08aeea;
    background-image: linear-gradient(45deg, #08aeea 0%, #2af598 100%);
    width: 235px;
    position: fixed;
    top: 80px;
    z-index: 2;
    color: $text-color;
    font-size: 1.6rem;
    height: 100vh;
    padding-top: 5rem;
    & > ul {
        width: 100%;
        li {
            margin-bottom: 1rem;
            cursor: pointer;
            &:hover {
                ul {
                    height: 120px;
                }
            }
            img {
                height: 20px;
                margin-right: 1rem;
            }
            ul {
                transition: all 0.5s;
                height: 0px;
                overflow-y: hidden;
            }
            li {
                font-size: 1.3rem;
                white-space: nowrap;
                img {
                }
            }
        }
        li {
            position: relative;
            .content {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                padding: 1rem 2rem;
                left: 0;
                &::before {
                    content: "";
                    height: 100%;
                    top: 0;
                    left: 0;
                    position: absolute;
                    width: 0px;
                    transition: width 0.5s;
                    background-color: #fff;
                    z-index: -1;
                }
                &:hover {
                    color: $color-tertiary;
                    svg {
                        fill: $color-tertiary;
                    }
                    &::before {
                        animation-name: widthy;
                        animation-duration: 0.4s;
                        width: 100%;
                    }
                }
            }
        }

        a {
            color: white !important;
            font-size: inherit !important;
            line-height: inherit !important;
        }
        a:hover {
            text-decoration: none !important;
        }
    }
    .nouveau {
        text-align: center;
        padding: 2rem;
        .btn {
            text-transform: uppercase;
            font-size: 1.8rem;
            background-color: #fff;
            border-radius: 100px;
            display: flex;
            align-items: center;
            letter-spacing: 0.2rem;
            color: #08aeea;
            justify-content: center;
            margin: 0 auto;
            img {
                margin-right: 0.6rem;
            }
        }
    }
    .sidebar-svg {
      height: 25px;
      fill: white;
      margin-right: 1rem;
  }
}
.rdvs {
  padding-top: 5rem;
}
.rdvs > .title {
   margin: 2rem 0;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 3rem;
    transition: all 0.5s;
    justify-content: center;
}

.searchTerm {
    width: 40%;
    border: 3px solid #26ebb3;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 1.3rem;
    color: #9dbfaf;
}

.searchTerm:focus {
    color: #26ebb3;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #26ebb3;
    background: #26ebb3;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.main {
    height: 100%;
    display: flex;
    margin-top: 80px;
    margin-left: 235px;
    .dashbord-main {
        position: relative;
        width: 100%;
        padding-bottom: 10rem;
        .infos {
            background-image: linear-gradient(45deg, #08aeea 0%, #2af598 100%);
            padding: 6rem 3rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .information {
                display: flex;
                color: $color-primary;
                background-color: #fff;
                border-radius: 25px;
                padding: 1rem 2.5rem 1rem 1rem;

                .image {
                    img {
                        height: 10rem;
                    }
                }
                .title {
                    font-size: 8rem;
                }
                .value {
                    font-size: 4.2rem;
                    padding: 0;
                    margin-top: 0.5rem;
                    transform: scale(1.4) translateX(23px);
                    transform-origin: center;
                }
                .date {
                    transform: scale(1);

                }
            }
            .today {
              @media screen and(max-width:1400px) {
                  display: none
              }
            }
        }
        .patients-container {
            padding: 6rem 0;
        }
        .patients {
            display: grid;
            width: 80%;
            margin: 5rem auto;
            grid-template-columns: min-content min-content min-content;
            justify-content: center;
            row-gap: 2rem;
            column-gap: 2rem;
            padding-top: 2rem;
            @media screen and (max-width: 1600px) {
                grid-template-columns: min-content min-content;
            }
        }
    }

    .ajouter_patient {
        position: relative;
        display: flex;
        margin-top: 2rem;
        margin: 4rem auto;
        flex-wrap: wrap;
        box-shadow: 0.5rem 0.2rem 2rem rgba(0, 0, 0, 0.15);
        padding: 5rem 3rem;
        padding-top: 8rem;
        h1 {
            position: absolute;
            left: 50%;
            top: 1rem;
            transform: translateX(-50%);
            font-size: 2.5rem;
            color: #2af598;
        }

        & > * {
            flex-basis: 50%;
            font-size: 1.15rem;
            padding: 0.5rem 1.5rem;
        }
        button {
            border-radius: 5px;
            margin: 0 auto;
            background-color: #08aeea;
            flex-basis: 20%;
            color: $text-color;
            font-weight: 600;
            background-image: linear-gradient(45deg, #08aeea 0%, #2af598 100%);
            img {
                margin-right: 1rem;
            }
        }
    }
}
.v-application .title {
    font-size: 2rem !important;
    text-transform: capitalize !important;
}
.card-patient {
    min-width: 450px;
    .card-content {
        line-height: initial;
        font-size: 1.3rem;
        color: black !important;
        ul {
            display: flex;
            flex-wrap: wrap;
            li {
                flex-basis: 50%;
                display: flex;
                align-items: center;
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
                img {
                    height: 3rem;
                    margin-right: 1rem;
                }
            }
            .adresse {
                flex-basis: 100%;
            }
        }
        .keyword {
            color: $color-primary;
            text-transform: capitalize;
        }
    }
    .supprimer {
        opacity: 0.75;
        &:hover {
            opacity: 1;
        }
        font-weight: 600;
        font-size: 1rem;
    }
    .ouvrir {
        font-weight: 600;
        font-size: 1rem;
    }
}

.ordonnance,
.rapport {
    .card-header {
        background-color: #2af598 !important;
        background-image: linear-gradient(
            90deg,
            #08aeea 0%,
            #2af598 100%
        ) !important;
        color: white;
        h2 {
            margin: 1rem 0;
            text-transform: uppercase;
        }
    }
    th {
        width: auto !important;
    }
    .email,
    .tel {
        margin-bottom: 30px;
    }
    .memo {
        position: absolute;
        top: 48px;
        opacity: 0.8;
        transform: scale(0.92);
        .form-check {
            display: flex;
            align-items: center;
            input {
                transform: translateY(-2px);
            }
            label {
                margin-left: 0.6rem;
            }
        }
    }
    .row {
      margin-left: 0 !important;
      margin-right: 0 !important;
      justify-content: space-around
    }
    .row .form-group {
      flex-basis: 45% !important;
    }
}

.v-list-item__title {
    font-size: 2.2rem !important;
}
.v-list-item__subtitle {
    font-size: 1.5rem !important;
    color: grey !important;
}

.erreur {
    font-size: 2rem;
    color: red;
    text-align: center;
    margin-top: 1rem;
}

.v-application ol,
.v-application ul {
    padding-left: 0;
}


.patient-header {
    display: flex;

    justify-content: space-between;
    align-items: center;
    .patient-avatar {
        font-size: 8rem;
        height: 120px !important;
        width: 120px !important;
    }
    .patient-buttons {
        button {
            margin-right: 2rem;
        }
    }
}
.svg-image {
    width: 2rem;
}
.v-list-item__title {
    text-transform: uppercase !important;
}
.form-group,
.form-control {
    font-size: 1.4rem !important;
}
.btn {
    font-size: 1.4rem !important;
}
@keyframes widthy {
    0% {
        width: 0px;
    }
    50% {
        width: 20px;
    }
    100% {
        width: 100%;
    }
}
.error {
    font-size: 1.2rem;
}
.form-error {
    color: red;
    font-size: 1rem;
}
